<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WeChatURLSchemeTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B8FC144C1C3E726700F11613</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8FC14651C3E726800F11613</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8FC14701C3E726800F11613</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
